body {
	font-family: 'Open Sans', sans-serif;
	background-color: #898E8C;
	color: #000000;
}
header {
	text-align: center;
}
h3 {
	color: white;
}
/*racing board design*/
canvas {
	background-color: #006E51;
	border: 3px solid #3b4446;
 	height: 400px;
	margin: 0 auto;
	margin-top: 5%;
	padding: 0;
    margin: auto;
    display: block;
    width: 960px;
}
/*racing board design*/
#track{
	background-color: #006E51;
	border: 3px solid #3b4446;
 	height: 400px;
	margin: 0 auto;
	margin-top: 5%;
	padding: 0;
    margin: auto;
    display: block;
    width: 960px;
}
#player1 {
	background-color: #D2691E;
	border: 3px solid black;
	color: #ffffff;
	width: 60px;
 	height: 60px;
}
#player2 {
	background-color: #F6D155;
	border: 3px solid black;
	color: #ffffff;
	width: 60px;
 	height: 60px;
 	margin-top: 17%;	
}
.finishline {
	text-align: center;
}
/*if i actually used a footer*/
footer {
	margin: 5%;
	text-align: center;
	color: #D2691E;
}
